<div class="cards center">
    <article class="card">
        <header>
            <h2>Curry</h2>
        </header>    
        <img src="../../assets/img/Dish/dish1.jpg" alt="Hot air balloons">
        <div class="content">
            <p> The idea of reaching the North Pole by means of balloons appears to have been entertained many years ago. </p>
        </div>
            
    </article>
            
     <article class="card">
        <header>
            <h2>Lamb Curry</h2>
        </header>    
        <img src="../../assets/img/Dish/dish2.jpg" alt="Hot air balloons">
        <div class="content">
            <p>Short content.</p>
        </div>
    </article>
            
    <article class="card">
        <header>
            <h2>Chicken TIka</h2>
        </header>
        <img src="../../assets/img/Dish/dish5.jpg" alt="Hot air balloons">
        <div class="content">
            <p>In a curious work, published in Paris in 1863 by Delaville Dedreux, there is a
                suggestion for reaching the North Pole by an aerostat.</p>
        </div>
    </article>
    <article class="card">
        <header>
            <h2>Bread</h2>
        </header>
        <img src="../../assets/img/Dish/dish4.jpg" alt="Hot air balloons">
        <div class="content">
            <p> The idea of reaching the North Pole by means of balloons appears to have been entertained many
                years ago. </p>
        </div>
        

    </article>
    <article class="card">
        <header>
            <h2>Momo</h2>
        </header>    
        <img src="../../assets/img/Dish/momo.jpeg" alt="Hot air balloons">
        <div class="content">
            <p> The idea of reaching the North Pole by means of balloons appears to have been entertained many years ago. </p>
        </div>
            
    </article><article class="card">
        <header>
            <h2>Dumpling</h2>
        </header>    
        <img src="../../assets/img/Dish/dish4.jpg" alt="Hot air balloons">
        <div class="content">
            <p> The idea of reaching the North Pole by means of balloons appears to have been entertained many years ago. </p>
        </div>
            
    </article>
    <article class="card">
        <header>
            <h2>Chicken Curry</h2>
        </header>    
        <img src="../../assets/img/Dish/dish5.jpg" alt="Hot air balloons">
        <div class="content">
            <p> The idea of reaching the North Pole by means of balloons appears to have been entertained many years ago. </p>
        </div>
            
    </article>
            
     <article class="card">
        <header>
            <h2>Pakoda</h2>
        </header>    
        <img src="../../assets/img/Dish/dish6.jpg" alt="Hot air balloons">
        <div class="content">
            <p>Short content.</p>
        </div>
    </article>
</div>
            
    